<%- include('./partials/header') %>

<div class="container-fluid d-flex flex-column justify-content-center">
  <h1>WELCOME TO RANDOM PICKER</h1>
    <div><img src='http://images2.fanpop.com/image/photos/13400000/random-shit-on-my-computer-jammy-and-meg-13424320-512-384.jpg'></div>
</div>
<%- include('./partials/footer') %>
